@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
:root{
    --color1:#4c0884cc;
    --color2:#6117d1;
    --color3:#aa07b8;
    --color4:#a16ad2;
    --color5:#f5e23d;
}
.formborder{
    top: 6.2%;
    left: 37%;
    width: 26%;
    height: 57vh;
    border-radius: 35px 0px;
    position: relative;
}
.formborder::before,
.formborder::after{
    content: "";
    position: absolute;
    inset: 0; 
    background: conic-gradient(
    from var(--gradient-angle),
    var(--color3),
    var(--color4),
    var(--color5),
    var(--color4),
    var(--color3)
    );
    border-radius: inherit;
    animation: rotation 20s linear infinite;
}
.formborder::after{
    filter: blur(5.5rem);
}
@keyframes rotation{
    0%{--gradient-angle: 0deg;}
    100%{--gradient-angle: 360deg;}
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' sans-serif;
    box-sizing: border-box;
}
.bg-img{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 50, 0.571),rgba(0, 0, 50, 0.873)), url(bgimg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.form-box{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25%;
    height: 55%;
    max-width: 450px;
    background-color: rgba(236, 231, 231, 0.679);
    padding: 20px 50px 50px 45px;
    border-radius: 35px 0px;
    text-align: center;
}
a{
    text-underline-position: under;
    color: rgb(31, 94, 241);
}
a :hover{
    color: rgb(72, 0, 255);
}
.form-box h1{
    font-family: "Audiowide", sans-serif;
    font-size: 30px;
    margin-bottom: 40px;
    text-shadow:
    1px 1px 2px rgb(20, 4, 4),
    0 0 0.2em rgb(255, 251, 10),
    0 0 0.2em rgb(129, 160, 255);
    color: #f8faff;
    position: relative;
}
.form-box h1::after{
    content: '';
    width: 379px;
    height: 1px;
    border-radius: 2px;
    border-bottom: #00000072 2px solid;
    background: #fcfcffc3;
    position: absolute;
    bottom: -12px;
    left: 51%;
    transform: translateX(-50%);
}
.input-field{   
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}
.input-field i{
    margin-left: 15px;
    color: #999;
}
form p{
    text-align: left;
    font-size: 13px;
}
form p a{
    text-decoration: none;
    color: #3c00a0;
}
.btn-field{
    
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-field button{
    flex-basis: 48%;
    background: #5d07e8;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: backdround 1s;
    border: 1px solid rgba(104, 85, 224, 1);
}
.btn-field :hover{
    
    color: white;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
    background-color: rgb(97, 72, 255);
}
.input-group{
    height: 250px;
}
.btn-field button.disable{
    background: #eaeaea;
    color: #555;
}
@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
  }
  
  .container {
    margin-left: 220px;
    display: flex;
    text-align: center;
  }
  
  .tic {
    font-family: neon;
    color: #effb08;
    font-size: 10vw;
    line-height: 10vw;
    text-shadow: 0 0 3vw #F40A35;
    
  }
  
  .toc {
    font-family: neon;
    color: #426DFB;
    font-size: 10vw;
    line-height: 10vw;
    text-shadow: 0 0 3vw #2356FF;
  }
  .toe {
    font-family: neon;
    color: #effb08;
    font-size: 10vw;
    line-height: 10vw;
    text-shadow: 0 0 3vw #F40A35;
  }
  
  .tic {
    animation: tic 2s ease infinite;
    -moz-animation: tic 2s ease infinite;
    -webkit-animation: tic 2s ease infinite;
  }
  
  @keyframes tic {
    0%,
    100% {
      text-shadow: 0 0 1vw #faa616, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
      color: #FED128;
    }
    50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
      color: #806914;
    }
  }
  
  .toc {
    animation: toc 3s linear infinite;
    -moz-animation: toc 3s linear infinite;
    -webkit-animation: toc 3s linear infinite;
    -o-animation: toc 3s linear infinite;
  }
  
  @keyframes toc {
    0%,
    100% {
      text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
      color: #28D7FE;
    }
    50% {
      text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
      color: #146C80;
    }
  }
  
  .toe {
    animation: toe 4s linear infinite;
    -moz-animation: toe 4s linear infinite;
    -webkit-animation: toe 4s linear infinite;
    -o-animation: toe 4s linear infinite;
  }
  @keyframes toe {
    0%,
    100% {
      text-shadow: 0 0 1vw #faa616, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
      color: #FED128;
    }
    50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
      color: #806914;
    }
  }
